<div class="banner">
    <div class="container-fluid bg-light">
        <h1 class="display-2 text-center">SCRIBE</h1>
        <p class="text-center">Simple Customizable Report and Invoice Building Environment</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <!-- <div class="col">
            <app-layout-preview></app-layout-preview>
        </div> -->
        <div class="col">
            <p class="text-center">Fields</p>
            <app-fields></app-fields>
        </div>
    </div>
</div>

