<div class="container border">
    <p class="text-center">Jobs</p>
    <div class="row">
        <div class="col">
            <p class="text-center">Job</p>
        </div>
        <div class="col">
            <p class="text-center">Rate</p>
        </div>
        <div class="col">
            <p class="text-center">Hours</p>
        </div>
    </div>
<!--     <form class="form-inline" [formGroup]="jobsForm">
        <div class="row" formArrayName="jobs">
            <div *ngFor="let item of allJobs.controls; let pointIndex=index" [formGroupName]="pointIndex">
                <input id="title" type="text" formControlName="title">
                <input id="hours" type="text" formControlName="hours">
                <input id="rate" type="text" formControlName="rate">
                <button type="button" (click)="deleteJob(pointIndex)">Delete Job</button>
            </div>
            <button type="button" (click)="addJob()">Add Job</button>
        </div> 

  </form>-->
  <div class="row">
    <div *ngFor="let item of jobList.Jobs; let i=index">
      <input id="title-{{i}}" type="text" #title="ngModel" name="title-{{i}}" [(ngModel)]="item.Title">
      <input id="hours-{{i}}" type="number" #hours="ngModel" name="hours-{{i}}" [(ngModel)]="item.Hours">
      <input id="rate-{{i}}" type="number" #rate="ngModel" name="rate-{{i}}" [(ngModel)]="item.Rate">
      <button type="button" (click)="removeJob(i)">Remove Job</button>
    </div>

    <button type="button" (click)="addNewJob()">Add Job</button>
</div>
</div>

<!--{{ this.jobsForm.value | json }}-->





























<!--        <div class="col-xs-2">
                <input id="title" type="text" formControlName="title">
            </div>
            <div class="col-xs-2"> 
                <input id="hours" type="text" formControlName="hours">
            </div>
            <div class="col-xs-2"> 
                <input id="rate" type="text" formControlName="rate">
            </div> -->